<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"><!--layui框架-->
    <script type="text/javascript" th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/style.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-1.8.2.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.form.min.js}"></script>
</head>
<body>
</body>
</html>
